body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px; /*This one is the outer rim of the entire card*/
}

.title { /*This section is the "I'm a card" blue section*/
  background: #e3f4ff;
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 8px;
}

.content { /*middle blue section*/
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container { /*button blue section*/
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}
